<div id="edit_user_wrapper">
<h1 style="text-transform: none">Ok, you need to switch things up</h1>

<%= render 'form' %>

<br>
<br>
<br>
<br>
<%= button_to "Delete Account", {action:"destroy", user: @user}, method: :delete, data: { confirm: "Are you sure? \nOnce an account is deleted all your links and information will be deleted as well"} %>
</div>

