/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 green = rgb(0,115,36)
 red = rgb(141,0,14)
 white = rgb(254,254,254)
 grey = rgb(77,77,77)

 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 * /
 * = require_tree .
 * = require_self



/*HEADER*/
.main_header {
  display: block;
  background-color: black;
  height: 70px;
}

.header_img {
  width: 200px;
  margin: 14px 0 0 5px;
}

.main_nav {
  margin: -75px 0 0 250px;
}
.main_nav a {
  text-decoration: none;
  color: rgb(0,115,36);
  font-size: 16px;
  margin: 0 0 0 13px;
  padding: 10px 0 0 0;
  font-weight: bold;
  text-transform: uppercase;
}

.wrapper {
  margin: 40px 0 0 0;
}

.errors {
  color: rgb(141,0,14);
  font-weight: bold;
  font-size: 15px;
  font-style: italic;
}

/*LOGIN PAGE*/
#login_wrapper, #new_user_wrapper, #edit_user_wrapper, #new_link_wrapper, #edit_link_wrapper, #user_show_page_wrapper, .link_index_wrapper, #user_index_wrapper{
  margin: 0 0 0 20px;
}

/*SIGN UP PAGE*/
.errors_list {
  list-style: circle;
  margin: 0 0 0 15px;
}

.errors_list li {
  margin: 0;
  color: rgb(141,0,14);
}

/*USER SHOW PAGE*/

.link_info {
  margin: 10px 0 0 0px;
  font-size: 18px;
  background-color: gray;
  padding: 5px;
  display: inline-block;
  color:
}
.link_info a {
  color: white;
}

.link_vote {
  display: inline-block;
  padding: 0 10px 0 0;
}

/*LINKS SHOW PAGE*/

.link_index_wrapper {
  margin-top: 60px;
}


.username {
  text-decoration: none;
}
